.main {
  color: #FCFCFC;
  font-family: "Sequel Sans", sans-serif;
  font-weight: 405;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;

  @media only screen and (max-width: 750px) {
    padding: 6rem 20px;
  }
}

.title {
  max-width: 458px;
  font-size: 90px;
  line-height: 92px;
  letter-spacing: -1.8px;
  margin-bottom: 30px;

  @media only screen and (max-width: 750px) {
    max-width: 260px;
    font-size: 51px;
    line-height: 110%;
    letter-spacing: -1.02px;
    margin-bottom: 20px;
  }
}

.text {
  max-width: 370px;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 10px;
  opacity: 0.8;

  @media only screen and (max-width: 750px) {
    font-size: 15px;
    margin-bottom: 4px;
  }
}

.mail {
  max-width: 357px;
  font-size: 16px;
  font-weight: 405;
  line-height: 24px;
  opacity: 0.8;

  @media only screen and (max-width: 750px) {
    font-size: 15px;
    opacity: 1;
  }
}

.block {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 150px;

  @media only screen and (max-width: 750px) {
    margin-top: 80px;
  }
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.30);
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    transform: scale(1.2);
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0 50px 0;

  @media only screen and (max-width: 750px) {
    padding: 4rem 0 30px 0;
  }
}

.moon {
  position: absolute;
  top: 8%;
  left: 20%;

  @media only screen and (max-width: 750px) {
    top: 10%;
    left: 10%;
  }
}

.moon__small {
  position: absolute;
  bottom: 10%;
  right: 24%;

  @media only screen and (max-width: 750px) {
    right: 10%;
    bottom: 6%;
  }
}

.background {
  position: absolute;
  bottom: 0;
  z-index: -1;
  width: 120vw;
  overflow: hidden;

  @media only screen and (max-width: 750px) {
    width: 100%;
  }
}

.background__image {
  width: 100%;

  @media only screen and (max-width: 750px) {
    object-fit: cover;
  }
}
